<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>Home Page</title>
        <link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon'/>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Thirsty Tracker</a>
            </div>
            <ul class="nav navbar-nav">
              <!--<li class="active"><a href="#">Herp</a></li>-->
              <li><a href="../home">Home</a></li>
              <li><a href="../login">Login</a></li>
              <li><a href="../location">Location</a></li>
              <li><a href="../filter">Filter</a></li>
              <li><a href="../register">Registration</a></li>
            </ul>
            </div>
        </nav>
        <form class="form" action="/filter/filter_result" method="get">
            <div class="form-group col-sm-6">
                <label class="font-weight-bold" for="search_bar">Search</label>
                <input class="form-control" type="text" id="search_bar" name="search_term" placeholder="Enter Search Term">
            </div>
            <h2>Filter</h2>
            <div class="row">
                <div class="col-sm-2">
                    <h6>Price:</h6>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="price" value="$">$
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="price" value="$$">$$
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="price" value="$$$">$$$
                        </label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" name="hour">
                        <option selected value="">Select Hour</option>
                        <%
                        var hours_menu = '';
                        for (i = 0; i < 24; i++) {
                            hours_menu += "<option value='" + i*100 + "'>";
                            hours_menu += (i == 0 || i == 12) ? '12' : i % 12;
                            hours_menu += (i < 12) ? ' AM' : ' PM';
                            hours_menu += "</option>";
                        }
                        %>
                        <%-hours_menu%>
                    </select>
                    <select class="form-control" name="food_type">
                        <option selected value="">Select Food Type</option>
                        <%
                        var food_menu = '';
                        var foods = ["American", "Mexican", "Asian"]
                        foods.forEach(function(item) {
                            food_menu += "<option value='" + item + "'>" + item + "</option>";
                            food_menu += item
                        })%>
                        <%-food_menu%>
                    </select>
                    <select class="form-control" name="drink_type">
                            <option selected value="">Select Drink Type</option>
                            <%
                            var drink_menu = '';
                            var drinks = ["Beer", "Wine", "Cocktail"]
                            drinks.forEach(function(item) {
                                drink_menu += "<option value='" + item + "'>" + item + "</option>";
                                drink_menu += item
                            })%>
                            <%-drink_menu%>
                        </select>
                </div>
            </div>
            <input type="submit" value="Submit" class="btn btn-success">
        </form>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Hours</th>
                <th>Price</th>
                <th>Type</th>
            </tr>
            <%
            if (results) {
                var table = '';
                results.forEach(function(item){
                    open = String(item.restaurant_open_time);
                    close = String(item.restaurant_close_time);
                    times = (open.substring(0, open.length - 2) % 12) + ':' + open.substring(open.length - 2, open.length);
                    times += (item.restaurant_open_time >= 1200) ? ' PM ' : ' AM ';
                    times += " - "
                    times += (close.substring(0, close.length - 2) % 12) + ':' + close.substring(close.length - 2, close.length);
                    times += (item.restaurant_close_time >= 1200) ? ' PM ' : ' AM ';
                    table += '<tr><td>' + item.restaurant_name + '</td><td>' + times + '</td><td>' + item.restaurant_price + '</td><td>' + item.restaurant_food.replace(/\w\S*/g, function(txt) {return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();}) + '</td></tr>';
                }); 
                if (table == '') {
                    table = "<tr><td>No results found.</tr></td>"
                }%>
            <%-table%>
            <%}%>
        </table>
    </body>
</html>
